# intelliJ stuff
.idea/
*.iml

# python specific
__pycache__/
*.py[cod]
*$py.class

# testing
.pytest*
.coverage

# packaging
venv/
packages/
install_destination_root/
documentation/
configurations/

**/.DS_Store

